<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>

	<% var conComentarios = 0; %>
	<% var j; for (j=0; j < comment.length; j++) { %>
		<% var i; for (i=0; i < quizes.length; i++) { %>
			<% if(comment[j].QuizId == i){ %>
				<% ++conComentarios; %>
			<% } %>
		<% } %>
	<% } %>
		<h2>Estadísticas del Quiz:</h2><br>
		<ul>
			<li>Número de preguntas: 
				<p><%=quizes.length%></p>
			</li>
			<li>Número de comentarios totales: 
			<p><%=comment.length%></p>
			</li>
			<li>Número medio de comentarios por pregunta: 			
				<p id="media"></p>
			</li>
			<li>Número de preguntas sin comentarios: <p><%=quizes.length-conComentarios%></p></li>
			<li>Número de preguntas con comentarios: <p><%=conComentarios%></p></li>
		</ul>
	</body>
	<script type="text/javascript">
		var media = <%=comment.length%>/<%=quizes.length%>;
		document.getElementById("media").innerHTML = media;	
	</script>
</html>
