<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>

	<body>

		<% var conComentarios = 0; %>
		<% var comentarios=0; %>
		<% var preguntas=quizes.length; %>

		<%for (i=0; i<comment.length; i++){ %>
			<%if(comment[i].publicado){ %>
				<% comentarios++; %>
			<% } %>
		<% } %>

		<% var media = comentarios/preguntas; %>
		
		<% var j; for (j=0; j < comment.length; j++) { %>
			<% var i; for (i=0; i < quizes.length; i++) { %>
				<% if(comment[j].QuizId == i+1){ %>
					<% ++conComentarios; %>
				<% } %>
			<% } %>
		<% } %>
		<h2>Estadísticas del Quiz:</h2><br>
		<ul>
			<li>Número de preguntas: <%=preguntas%></li>
			<li>Número de comentarios totales: <%=comentarios%></li>
			<li>Número medio de comentarios por pregunta: <%=media%></li>
			<li>Número de preguntas sin comentarios: <%=preguntas-conComentarios%></li>
			<li>Número de preguntas con comentarios: <%=conComentarios%></li>
		</ul>

	</body>
</html>
